/*Criando um estilo para o fundo de tela*/

/*body {
    background-image: url(../imagens/hulk.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}*/


/*Criando o contexto de estio nativo (h1) muda direto */
h1 {
    font-size: 20px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Criando um estilo de Classe(começar com ponto) tenho que chamar a classe colocando o atrtibuto*/
.cab_especial {
    background-color: rgb(9, 0, 128);
    font-size: 16px;
    font-weight: bolder;
    color: rgb(0, 255, 47);
}

.formatacao_campos {
    background-color: rgb(0, 128, 119);
    font-size: 16px;
    font-weight: bolder;
    color: rgb(255, 72, 0);
}


/*Criando um estilo para um id desejado (tudo que estiver dentro do cadastro)*/

#cadastro {
    color: violet;
    font-size: 12px;

}

/*Criando um padrao de tamanho para os campos do formulários*/

.campo_nome {
    width: 200px;
}